@font-face {
  font-family: 'Spartan';
  src: url('../../public/font/Spartan-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: url('../../public/font/Spartan-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 20px;
}

body {
  font-family: 'Spartan', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.25;
}
